.modal-layout {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal box */
.model {
    background-color: #ffffff;
    width: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;

    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.model h3 {
    margin: 0;
    text-align: center;
    font-weight: 600;
}


.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.content input{
    width: 200px;
    border-radius: 8px;
}
.btn-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Cancel button */
.btn-section .btn-cancel {
    width: 100px;
    height: 40px;

    background-color: #ffffff;
    border: 1px solid var(--primary);
    border-radius: 8px;

    cursor: pointer;
}

/* Save button */
.btn-section .btn-save {
    width: 100px;
    height: 40px;

    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    color: #ffffff;

    cursor: pointer;
}
