.emp-container{
    padding: 20px 80px;
    margin-top: 20px;
    border-radius: 16px;
    
    
}
.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :20px 40px;
    width: 100%;
    padding: 20px;
    
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form input,textarea,
 select {
  height: 30px;
   width: 100%;
 
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
.form input:focus,
 select:focus{
  border-color: #5095ff;
  box-shadow: 0 0 4px rgba(80, 149, 255, 0.35);
}