
.emp-container {
  width: 100%;
 padding: 40px 0px;
}

/* Form card */
.form {
  width: 100%;
  
  background: #fff;
  border-radius: 16px;
  padding: 28px 28px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 24px;
}

/* Each field */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Full width fields */
.form-group.full {
  grid-column: 1 / -1;
}

/* Labels */
.form-group label {
  font-size: 13px;
  margin-bottom: 6px;
  color: #444;
}

/* Inputs and selects */
.form-group input,
.form-group select {
  height: 42px;
  padding: 0 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  background: #fff;
}

/* Focus state */
.form-group input:focus,
.form-group select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(80, 149, 255, 0.2);
}

/* Responsive */
@media (max-width: 600px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.error-text {
  min-height: 18px;
  color: red;
  font-size: 13px;
}

.buttoncontainer {
    width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.buttoncontainer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn-save {
  width: 100px;
  font-size: 14px;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  background-color: var(--primary);
  color: white;
}
.btn-save:hover{
  background-color: var(--primary-hover);
}
.password-container {
  position: relative;
}
.eye-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}