.employee{
      padding: 20px 80px;

}
/* Header section */
.add-emplyee {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
}

.back-icon {
  cursor: pointer;
  font-size: 22px;
}
