.main{
  padding: 0;
  margin: 0;
}
.back-icon{
   font-size: 20px;
   cursor: pointer;
    
}
.tabs{
    display: flex;
    width: 100%;
    padding: 20px 80px;
    gap: 100px;
    
}
.tab{
    cursor: pointer;
    font-weight: 500;
}
.tab-active{
    font-weight: 700;
   
}
.main-content{
    padding: 20px 80px;
    position: relative;
    flex: 1;
    
}
