.main{
  padding: 0;
  margin: 0;
}
.back-icon{
   font-size: 20px;
   cursor: pointer;
    
}
.tabs{
    display: flex;
    width: 100%;
    padding: 20px 80px;
    gap: 100px;
    
}
.tab{
    cursor: pointer;
    font-weight: 500;
}
.tab-active{
    font-weight: 700;
   
}
.main-content{
    padding: 20px 80px;
    position: relative;
    flex: 1;
    
}
.image-preview {
  width: 120px;
  height: 120px;
  border: 1px dashed #aaa;
  border-radius: 6px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

