.main{
  padding: 0;
  margin: 0;
}
.back-icon{
 border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color:var(--primary);
  font-weight: 600;
    
}
.tabs{
    display: flex;
    width: 100%;
    padding: 20px 80px;
    gap: 100px;
    
}
.tab{
    cursor: pointer;
    font-weight: 500;
}
.tab-active{
    font-weight: 700;
   
}
.main-content{
    padding: 0px 80px;
    position: relative;
    flex: 1;
    
}
.image-preview {
  width: 120px;
  height: 120px;
  border: 1px dashed #aaa;
  border-radius: 6px;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid var(--primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    align-items: center;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 


    .loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white; /* optional */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


