.main{
  padding: 0;
  margin: 0;
}
.back-icon{
   font-size: 20px;
    
}
.tabs{
    display: flex;
    width: 100%;
    padding: 20px 80px;
    gap: 100px;
    
}
.tab{
    cursor: pointer;
    font-weight: 500;
}
.tab-active{
    font-weight: 700;
   
}
.main-content{
    padding: 20px 80px;
    position: relative;
    flex: 1;

}
.add-btn{
    position: absolute;
    top: 20px;
    right: 80px;
    background-color: #5095FF;
    padding: 8px 16px;
    width: 100px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: #1c60c5;

}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:16px
}
.modal-btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 16px;
}
.cancel-btn{
   width: 100px;
  height: 35px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #5095ff;
  border-radius: 8px;
  cursor: pointer;
}
.cancel-btn:hover{
    background-color: #f7f5f5;
}
.save-btn{
    width: 100px;
  height: 35px;
  background: #5095ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.save-btn:hover{
    background-color: #1c60c5;

}
input{
     width: 100%;
  height: 40px;
  background-color: white;
  color: black;
  padding: 0 16px;
  border-radius: 16px;
  border: 1px solid #ccc;
  outline: none;
}
input:focus {
  border-color: #5095ff;
  box-shadow: 0 0 5px rgba(80, 149, 255, 0.4);
}

