.addbtn-sec{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin: 10px 80px;
    justify-content: flex-end;
    
   
    
}
.add-btn{
    background-color: var(--primary);
    width:100px;
    justify-content: center;
    height: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: 600;
   
}
.add-btn:hover{
    background-color: #1c60c5;

}