.product-card {
  background: #fff;
  border-radius: 18px;
  width: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
  border: 1px solid #eef2f7;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  margin: 10px;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* ================= TOP ================= */
.card-top {
  background-color: #f8fafc;
  position: relative;
}

.category-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background:#DCEBFF;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color:var(--primary);
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  z-index: 1;
}

.image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  background: #f8fafc;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
 
}

/* ================= BODY ================= */
.product-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: #0f172a;
  margin: 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; 
  overflow: hidden;

  min-height: 36px;
}

/* ================= FOOTER ================= */
.product-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-container {
  color: #0f172a;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.price-container .currency {
  font-size: 16px;
  color: var(--primary);
}

/* ================= BUTTONS ================= */
.edit-delete {
  display: flex;
  gap: 8px;
}

.edit, .delete {
  background: var(--primary);
  border: none;
  width: 35px;
  padding: 6px 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.edit:hover {
  background-color: var(--primary-hover);
}

.delete {
  background-color:var(--delete-btn);
}

.delete:hover {
  background-color: var(--delete-btn-hover);
}
