.main{
   margin: 0;
   padding: 0;
}
.body{
    padding: 16px 80px;
}
.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: #DCEBFF;
    padding: 40px ;
    margin-top:40px;
    width: 400px;
    border-radius: 16px;
   
    
}
.control-btn{
    background-color: #5095FF;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 32px;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 16px;
}
.control-btn:hover{
    background-color: #3c72c3;

}
.FaPlus{
    color: white;
    font-size: 20px;
}
.FaArrowRight{
    color: white;
    font-size: 20px;
}