

.sidebar{
    background-color: #DCEBFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   width: 400px;
   padding:30px 0px 0 80px;
   gap: 8px;
   

}

.menu-item{
    background-color: var(--primary);
    height: 30px;
    
    width: 250px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 16px;
    border-radius: 8px;
}
.menu-item:hover{
    background-color: #1c60c5;
}
