/* Main body layout */
.body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

/* Image upload card */
.img-section {
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(60, 114, 195, 0.25);
}

/* Upload box */
.upload-box {
  width: 100%;
  height: 300px;
  
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaf2ff;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-image {
  font-size: 30px;
  color: var(--primary);
}

.upload p {
  margin: 8px 0 4px;
  font-weight: 500;
}

.upload small {
  font-size: 12px;
  color: #555;
}

/* Image preview */
.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Form card */
.add-product-section {
  width: 700px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(60, 114, 195, 0.25);
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Inputs */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.add-product-section input,textarea,
.add-product-section select {
  height: 30px;
  width: 100%;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
textarea{
  height: 55px;
}

.add-product-section select {
  cursor: pointer;
}

/* Focus effect */
.add-product-section input:focus,
.add-product-section select:focus,
.add-product-section textarea:focus {
  border-color: #5095ff;
  box-shadow: 0 0 4px rgba(80, 149, 255, 0.35);
}

/* Price & stock row */
.price-stock {
  display: flex;
  gap: 20px;
}

.price-stock .form-group {
  flex: 1;
}

/* Buttons */
.buttoncontainer {
    width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn-save {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--primary);
  color: white;
}

.btn-cancel {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  color: var(--primary);
  border: 1px solid var(--primary);
}
