.category-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
     padding: 0 26PX;
    gap: 72px;
  
    
    
  
}

.card{
    background-color: white;
    width: 230px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

}
.code{
    background-color: var(--primary);
    padding: 20px;
    border-radius: 16px;
    font-weight: 600;
    color: white;
}
.card-btn{
     display: flex;
    flex-direction:row;
    gap: 16px;
    
}
.image-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.Name{
    font-weight: 600;
    text-align: center;
}
.card-btn{
     display: flex;
    flex-direction:row;
    gap: 16px;
    
}



.edit{
    height: 35px;
    width: 100px;
    background-color: #5095FF;
    border: none;
    color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;



}
.edit:hover{
  background-color: #1c60c5;


}
.delete{
    height: 35px;
    background-color:var(--delete-btn);
    border: none;
    border-radius: 8px;
    color: white;
    width: 50px;



}
.delete:hover{
  background-color:var(--delete-btn-hover);
  

}

