.content{
    padding: 20px 80px 20px 80px;
    gap: 20px;
}

.heading{
    display: flex;
    flex-direction: row;
    gap: 20px;
   padding: 20px 80px;
   width: 100%;

}
.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.img-section{
    box-shadow: 0 2px 4px rgba(60, 114, 195, 0.25);
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    height: 400px;
   

}
.upload-image{
  font-size: 30px;
  color: var(--primary);
  text-align: center;
}
.upload{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}



.upload-box {
  width: 100%;
  height: 300px;
  border: 2px dashed #3b82f6;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaf2ff;
 
}



.upload span {
  font-size: 32px;
}

.upload p {
  margin: 8px 0 4px;
  font-weight: 500;
}

.upload small {
  font-size: 12px;
  color: #555;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.add-product-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(60, 114, 195, 0.25);
  background: #fff;
}

.btn-save{
  background-color: var(--primary);
  width: 100px;
  border-radius: 8px;
  height: 40px;
  color: white;
}

.buttoncontainer{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: flex-end;
}
.btn-cancel{
  background-color: white;
  width: 100px;
  border-radius: 8px;
  height: 40px;
  color: var(--primary);
  border: 1px solid var(--primary);

}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}


.add-product-section input,
.add-product-section select {
  width: 100%;
  height: 45px;
  padding: 0 14px;
  border-radius: 12px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}
.add-product-section select {
  cursor: pointer;
  
}

/* focus effect */
.add-product-section input:focus,
.add-product-section select:focus {
  border-color: #5095ff;
  box-shadow: 0 0 4px rgba(80, 149, 255, 0.35);
}

/* price & stock side by side */
.price-stock {
  display: flex;
  gap: 20px;
}

.price-stock .form-group {
  flex: 1;
}


