header{
    width: 100%;
    background-color: #0F1B3D;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:0 80px 0 80px;
    height: 60px;

}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    
}
.logo-sec{
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
}
.logo-icon{
    font-size: 20px;    
    color: var(--primary);
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.logout-sec{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.logout-icon{
    background-color: white;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.logout-icon:hover{
    background-color: #f0f0f0
}
.logout{
  
    font-size: 20px;
    color: var(--primary);
}

