.hero{
    position: relative;
    width:100% ;
    height:400px ;
    overflow:hidden ;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.35); /* dullness */
}
.hero-content{
    position: absolute;
    color:black ;
    max-width: 400px;
    top: 25%;
    left: 35%;
    text-align: center;
    

}
.hero-content h2{
    line-height: 2rem;
    margin-bottom: 20px;
    font-weight: bold;

}
.hero-content button{
    background-color: var(--primary);
    border-radius: 8px;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding: 10px 16px;
    border: none;
}

