.viewproduct-body{
    width: 100%;
    padding: 20px 80px;
}
.tab{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.productlist{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

.product{
    background-color: white;
    width: 230px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(80, 149, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    
}

.image-display{
    height:200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.price-stock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.price-stock h2{
    color: var(--primary);
}
.edit-delete{
    display: flex;
    gap: 20px;
}

.category{
    background-color: #DCEBFF;
    border-radius: 16px;
    padding: 5px 20px;
    font-size: 14px;
}

.edit{
    
    height: 35px;
    background-color: var(--primary);
    border: none;
    border-radius: 8px;
    color: white;
    width: 50px;


   



}
.edit:hover{
  background-color: #1c60c5;


}
.delete{
    height: 35px;
    background-color: #FB7185;
    border: none;
    border-radius: 8px;
    color: white;
    width: 50px;



}
.delete:hover{
  background-color: #b61e35;
  

}

