.search{
    position: relative;
  flex: 1;
}
.search input {
  width: 100%;
  height: 36px;         
  padding: 0 12px 0 36px;
  border-radius: 8px;
  border: 1px solid#ccc;
  outline: none;
  font-size: 14px;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #777;
}
.search input:focus{
  border-color: var(--primary);
  box-shadow: 0 0 4px rgba(80, 149, 255, 0.35);
}
