.content{
    padding: 20px 80px 20px 80px;
}

.heading{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;

}
.body{
    display: flex;
    flex-direction: row;
}
.img-section{
    box-shadow: 0 2px 4px rgba(60, 114, 195, 0.25);
    border-radius: 16px;
    width: 300px;
    height: 600px;

}
