.table-wrapper {
  margin-top: 30px;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
}

.data-table th,
.data-table td {
  border: 1px solid #e0e0e0;
  padding: 15px 15px;
  text-align: left;
  font-size: 14px;
}

.data-table th {
  background: #f8fafc;
  font-weight: 700;
}

.data-table tbody tr:hover {
  background-color: #f1f5f9;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  background-color: var(--primary);
}

.edit-btn:hover {
  background-color: var(--primary-hover);
}

.delete-btn {
  background-color: var(--delete-btn);
}

.delete-btn:hover {
  background-color: var(--delete-btn-hover);
}
/* Make the last column (Actions) fixed width */
.data-table th:last-child,
.data-table td:last-child {
  width: 150px;
  max-width: 150px;
  white-space: nowrap; /* prevent wrapping */
  text-align: center;
  padding: 5px;        /* reduce padding */
  
}

/* Buttons inside Action column should scale down */
.edit-btn,
.delete-btn {
    /* smaller padding */
  font-size: 14px;     /* smaller font if needed */
  width: auto;         /* remove any fixed width */
  margin: 0;           /* remove extra margin */
 
}
.edit-btn {
  margin-right: 10px; /* tiny gap to separate from delete */
}
