* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;  
  background-color: #ffffff;             
  
  --primary:#5095FF;
  --text-primary: #111827; 
  --text-on-primary: #FFFFFF;                       
}
.light {
  background-color: #ffffff;
  color: black;
}

.dark {
  background-color: #121212;  
  color: #111827;
}
button {
  cursor: pointer;
  border: none;
  padding: 8px 12px; 
}
.error-message {
  color: red;
  font-size: 0.85rem;
  margin-bottom: 5px;
}
